<!--<nav class="navbar navbar-default navbar-static-top navbar-inverse">-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><img src="/img/logo.png"></a>
      </li>
    </ul>
  </div>
  <div class="raff"color="red"><a href=""><span class="glyphicon glyphicon-heart-empty" style="color:lightblue"></span> Rayan</a> </div>
</nav>
