<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Getting Started with your Imagefilm</h1>
    <h2>Für Rayan Shmoon</h2>
    <p>Hallo Rayan, ich hab Dir hier eine kleine und recht allgemein gehaltene Erläuterung bezüglich des Equipments für Deinen Imagefilm. Falls noch Fragen hier zu offen sein sollten, werde ich sie Dir natürlich ausführlich(er) beantworten.</p>
    <a type="button" class="btn btn-lg btn-default" href="#equipment"><span class="glyphicon glyphicon-flash"></span> Zum Equipment</a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> Als PDF speichern</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Da mir euer <a href="https://youtu.be/7fJ3_osDMtg" target="_blank" class="alert-link">aktueller Imagefilm</a>  in erster Linie als "Status quo/Referenzfilm" dient, habe ich mir erlaubt ihn hier zu verlinken.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>  Imagefilm 'Elemente'</h3>
      <ul>
        <li>Das <a href="#">Interview</a> mit dem Geschäftsführer würde ich definitiv beibehalten, um den Mensch und seine (Firmen-)Philosophie zu präsentieren.</li>
        <li>Wenn <a href="#">Maschinen</a> gefilmt werden, würde ich definitiv auch immer den <a href="#">Mensch/MA</a> der sie bedient mit in eine oder mehrere Einstellung nehmen.</li>
        <li>Equipment und Einstellungen für <a href="#">Produkte/Produktaufnahmen</a> hängen von Größe und der Greifbarkeit des Produktes ab.</li>
        <li>Ein <a href="#">Sprecher</a> ist für das Storytelling verantwortlich und leitet ggf. den Zuschauer durch die einzelnen Segmente des Imagefilms. Der Sprecher sollte sich im OFF befinden (Er ist also nur zu hören und nicht zu sehen.) Natürlich gibt es auch <a href="https://www.youtube.com/watch?v=cJm45yPFSlI">Ausnahmen</a>.</li>
        <li>Ich würde <a href="#">Intro</a> und <a href="#">Outro</a> neu animieren - hauptsächlich das Einblenden des <a href="#">Logo</a> samt Jingle auffrischen. Allerdings nur unter Berücksichtigung der CI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Hilfreiche Links</h3>
      <ul>
        <li><a href="http://www.kamerapool.tv/" target="_blank">Equiptment</a> Verleih in Ludwigsburg.</li>
        <li><a href="http://www.castingdb.eu/de/cities/view/1375/Stuttgart" target="_blank">Stuttgarter Schauspieler </a>- Falls Angestelle/Mitarbeiter nicht an ihrem Arbeitsplatz gefilmt werden möchten.</li>
        <li><a href="http://www.sprecherdatei.de/synchronstimme/sprecher_stuttgart.php" target="_blank">Sprecher </a>samt Sprachproben.</li>
        <li><a href="https://youtu.be/RoQ_c00NjAs" target="_blank">Logo, Intro, Outro, Jingle und animierte Bachbinde</a> - eigenes Beispiel --> (Gefilmt hab allerdings nicht ich.)</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Bevor dem Filmen, erstell ich ein <a href="https://youtu.be/7fJ3_osDMtg" target="_blank" class="alert-link">Storyboard</a> und lass das dann von Euch absegenen. Damit erspar mich mir einen Haufen Nacharbeit und umgeh einige Ungereimtheiten.
  </div>
</div>


  <div class="container">
      <h2 id="equipment" data-magellan-target="horizontal"><a class="docs-heading-icon" href="#equipment"></a>Equipment</h2>
      <div><div class="row">
              <!-- Boxes de Acoes -->
              <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">
                      <div class="icon">
                          <!--<div class="image"><i class="fa fa-thumbs-o-up"></i></div>-->
                          <div class="image"><img src="/img/licht80.png"></div>
                          <div class="info">
                              <h3 class="title">Licht</h3>
                              <p>
                                  Je nach Art der zu filmenden Szene, muss das Licht-Setting bestimmt werden. Hierfür gibt es unterschiedliche Herangehensweisen mit und ohne Equipment....
                              </p>
                              <div class="more">
                                  <a href="/licht" title="Title Link">
                                      weiter lesen <i class="fa fa-angle-double-right"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="space"></div>
                  </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">
                      <div class="icon">
                          <div class="image"><img src="/img/stativ800.png"></div>
                          <div class="info">
                              <h3 class="title">Stative und Kamera-Rigs</h3>
                              <p>
                                  Für deinen Imagefilm würde ich ein großes Filmstativ nehmen. Für kleine Kamerafahrten würde ich auf einen Dolly (Räder, Schiene) und ein Steadycam zurückgreifen...
                              </p>
                              <div class="more">
                                  <a href="/stativ" title="Title Link">
                                      Weiter Lesen <i class="fa fa-angle-double-right"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="space"></div>
                  </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">
                      <div class="icon">
                          <div class="image"><img src="/img/cam.png"></div>
                          <div class="info">
                              <h3 class="title">Kamera</h3>
                              <p>
                                  Bei der Kamerawahl würde ich auf mein 7D Mark 1 zurückgreifen oder auf ein Vollformat-Pendant wechseln (Beispielsweise die 5D Mark III). Vor und Nachteile: ...
                              </p>
                              <div class="more">
                                  <a href="/cam" title="Title Link">
                                      Weiter Lesen <i class="fa fa-angle-double-right"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="space"></div>
                  </div>
              </div>
              <!-- /Boxes de Acoes -->
          </div>
      </div>
  </div>

  <hr>

  <div class="jumbotron">
      <div class="container">
        <h2>Interview</h2>
      </div>
  </div>

  <div class="test">
      <div class="superbgtop"><img src="/img/leer.png"></div><div class="superbg"><img src="/img/leer.png"></div>
      <div class="superbg newraf"><a>asdwer</a><img src="/img/leer.png"></div>
  </div>

  <footer class="footer">
      <div class="container center">
          <div class="roff">
              <p>Gecodet mit viel <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red"></span> und Kaffee.</p>
          </div>
      </div>
  </footer>
<div class="riff center"><a href=""><span class="glyphicon glyphicon-heart-empty" style="color:lightblue"></span> Rayan</a> </div>
</body>
</html>
