<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
        <h1>Stative und Kamera-Rigs</h1>
        <h2>Fuck Yeah mit Bildern</h2>
        <p>Mit Super Vielen Bildern</p>
        <!--<a type="button" class="btn btn-lg btn-default" href="#equipment"><span class="glyphicon glyphicon-flash"></span> Zum Equipment</a>-->
        <!--<a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> Als PDF speichern</a>-->
    </div>
</div>


<footer class="footer">
    <div class="container center">
        <div class="roff">
            <p>Gecodet mit viel <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red"></span> und Kaffee.</p>
        </div>
    </div>
</footer>


<div class="riff center"><a href=""><span class="glyphicon glyphicon-heart-empty" style="color:lightblue"></span> Rayan</a> </div>
</body>
</html>
